.custom-confirm-button {
    background-color: #0575E6 !important;
    color: white;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.custom-confirm-button:hover {
    background-color: #033368;
}

.custom-confirm-button-ok {
    background-color: rgb(253, 16, 16) !important;
    color: white;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.custom-confirm-button-ok:hover {
    background-color: rgb(253, 16, 16);
    opacity: 70%;
}

.confirm-error-placing-order {
    background-color: rgb(253, 16, 16) !important;
    color: white;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.confirm-error-placing-order:hover {
    background-color: rgb(253, 16, 16);
    opacity: 70%;
}