.details-wrapper {
    width: 100%;
    height: 100%;
}

.details-wrapper.dark {
    width: 100%;
    height: 100%;
}

.details-selectors {
    width: 700px;
    height: 280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    color: #ebebeb;
}

.details-selectors.light {
    width: 700px;
    height: 280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.details-selectors.dark {
    width: 700px;
    height: 280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.details-input-container {
    width: 220px;
    height: 30px;
    border-radius: 9px;
    font-size: 15px;
    border: 1px solid #D9D9D9;
    margin-right: 40px;
    padding: 0 20px;
}

.details-input-container:focus {
    outline: 2px solid #0575E6;
}

.details-title {
    color: #585858;
    margin-bottom: 4px;
}

.details-title.dark {
    color: #ebebeb;
    margin-bottom: 4px;
}

.details-name-container, .details-phone-btn, .details-email2-container, .details-location2-container, .details-street2-container, .details-house2-container, .details-city2-container, .details-plot2-container {
    width: 260px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 9px;
    font-size: 15px;
    border: 1px solid #D9D9D9;
    margin-right: 40px;
    
}

.details-value, .details-phone {
    font-size: 15px;
    color: #878787;
    margin: 0 20px;
}

.update-details-container {
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    color: #585858;
    border-radius: 10px;
}

.update-details-container:hover {
    cursor: pointer;
    background-color: #0575E6;
    color: #ffffff;
}

.update-detailsIcon {
    margin-right: 4px;
}

.update-details-container.dark {
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebebeb;
    color: #ebebeb;
    border-radius: 10px;
}