.farmers-container {
    margin-top: 25px;
}

.header-farmers-containers {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
}


.sort-by-container {
    width: 80px;
    height: 32px;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    color: #464646;
}

.sort-container {
    position: relative;
    width: 100px;
    height: 200px;
}

.sort-extent {
    position: absolute;
    width: 130px;
    height: 150px;
    background-color: #ffffff;
    text-align: left;
    margin-top: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
}

.sort-extent p {
    height: 29px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 24px;
    font-size: 16px;
    margin: 7px 0;
}

.sort-options {
    width: 100%;
    height: 100%;
}

.sort-extent p:hover {
    /*background-color: #6ab9e8;*/
    background-color: #0575e6;
    color: #ffffff;
}
.sort-by-container:hover {
    cursor: pointer;
    /*background-color: #ebebeb;*/
    background-color: #0575e6;
    color: #ffffff;
}


.searchFarmersContainer {
    width: 300px;
    height: 30px;
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
}

.table-container {
    width: 100%;
    height: 400px;
    border: 1px solid #D9D9D9;
    overflow-y: auto;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0 8px 8px 0;
}
 
.table-container::-webkit-scrollbar-thumb {
    background: #dcdcdc; 
    border-radius: 20px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #adadad; 
}

table {
    width: 100%;
    border-collapse: collapse;
}


tr, th {
    height: 30px;
    border: 1px solid #D9D9D9;
    text-align: left;
}

th {
    padding-left: 10px;
}

tbody {
    height: 20px;
}

td {
    padding-left: 10px;
    border: 1px solid #D9D9D9;
}

table thead tr th {
    height: 50px;
    font-size: 18px;
    font-weight: 500;
}
tbody tr:hover {
    /*background-color: #D9D9D9;*/
    background-color: #0575e6;
    color: #ffffff;
}