.farmers-container {
    margin-top: 25px;
}

.header-farmers-containers {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
    margin-top: 50px;
}


.sort-by-container {
    width: 80px;
    height: 32px;
    margin-right: 0px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    color: #464646;
}

.sort-by-btn-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
}

.sort-container {
    position: relative;
    width: 132px;
    height: 200px;
}

.sort-extent {
    position: absolute;
    width: 130px;
    height: 150px;
    background-color: #ffffff;
    text-align: left;
    margin-top: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
}

.sort-extent.dark {
    position: absolute;
    width: 130px;
    height: 150px;
    background-color: #212121;
    text-align: left;
    margin-top: 5px;
    border: 1px solid #464646;
    border-radius: 8px;
}

.sort-extent p {
    height: 29px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 24px;
    font-size: 16px;
    margin: 7px 0;
}

.sort-extent.dark p {
    height: 29px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 24px;
    font-size: 16px;
    margin: 7px 0;
    background-color: #212121;
    color: #ebebeb;
}

.sort-options {
    width: 100%;
    height: 100%;
}

.sort-extent p:hover {
    background-color: #0575e6;
    color: #ffffff;
}

.sort-extent.dark p:hover {
    background-color: #ebebeb;
    color: #212121;
}

.sort-by-container:hover {
    cursor: pointer;
    background-color: #0575e6;
    color: #ffffff;
}

.sort-by-container.dark:hover {
    cursor: pointer;
    background-color: #212121;
    color: #ebebeb;
}


.searchFarmersContainer {
    width: 300px;
    height: 30px;
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
}



.table-container {
    width: 100%;
    height: 300px;
    border: 1.5px solid #D9D9D9;
    overflow-y: auto;
    border-radius: 0px;
}

.table-container.dark {
    width: 100%;
    height: 300px;
    border: 1.5px solid #ebebeb;
    overflow-y: auto;
    /*border-radius: 10px;*/
    color: #ebebeb;
}

.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    /*border-radius: 0 8px 8px 0;*/
}
 
.table-container::-webkit-scrollbar-thumb {
    background: #dcdcdc; 
    border-radius: 20px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #adadad; 
}

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}


tr, th {
    height: 30px;
    border: 1px solid #D9D9D9;
    text-align: left;
}

th {
    padding-left: 10px;
}

tbody {
    height: 20px;
}

td {
    padding-left: 10px;
    border: 1px solid #D9D9D9;
}

table thead tr th {
    height: 50px;
    font-size: 18px;
    font-weight: 500;
}
tbody tr:hover {
    /*background-color: #D9D9D9;*/
    background-color: #0575e6;
    color: #ffffff;
}

.table-tr-container {
    height: 30px;
}

.table-tr-container:hover.dark {
    background-color: #ebebeb;
    color: #212121;
}

tbody tr td ul li {
    list-style: none;
}