.forgotPassword {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #283712;
}

.logo-forget-password {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 0 0 40px;
    opacity: 75%;
}

.forgot-password-email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back-to-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-title {
    font-size: 23px;
    margin-bottom: 40px;
}

.email-input-container {
    width: 350px;
    height: 45px;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    padding: 0 20px;
}

.reset-password-btn {
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    border: 1px solid #D9D9D9;
    border-radius: 13px;
    background-color: #0575e6;
    color: #ffffff;
}

.reset-password-btn {
    cursor: pointer;
}

.back-to-login-link, .BackIcon {
    font-size: 15px;
    color: #0575e6;
}

.BackIcon {
    margin-right: 3px;
}

.back-to-login-link:hover, .BackIcon:hover {
    cursor: pointer;
    text-decoration: underline;
}

.last-link {
    color: #acacac;
    margin-top: 10px;
}

.register-link-forgot:hover {
    cursor: pointer;
    color: #0575e6;
    text-decoration: underline;
}