.header_signin-container.light {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #B2B2B2;
}

.header_signin-container.dark {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #212121;
    border-bottom: 2px solid #ebebeb;
}

.logo_signin-container {
    margin-left: 40px;
}

.logo_signin-container h1.light {
    font-size: 34px;
    color: #283712;
}

.logo_signin-title-container.dark {
    font-size: 34px;
    color: #ebebeb;
}

.signin-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-right: 50px;
}

.header-nav {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 19px;
    margin-left: 73px;
}

.searchIcon {
    position: absolute;
    left: 18px;
    top: 12px;
    color: #595959;
}
/*.home-search-container {
    width: 500px;
    height: 30px;
    display: flex;
    align-items: center;
}

.home-search-container input {
    width: 100%;
    height: 100%;
    padding: 0 44px;
    color: #595959;
    border-radius: 30px;
    border: 1px solid #D9D9D9;
}

.home-search-container input:focus {
    outline: 1px solid #0575e6 ;
    color: #595959;
}*/

.logout-btn-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
}

.setting-container, .profile-container.light {
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #D9D9D9;
    margin-right: 20px;
    border-radius: 8px;
}

.profile-container.dark {
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #757575;
    margin-right: 20px;
    border-radius: 8px;
}

.setting-container:hover, .profile-container:hover {
    cursor: pointer;
    border: 1px solid #0575e6;
}

.profile-container.dark:hover {
    cursor: pointer;
    border: 1px solid #757575;
}

.settingsIcon, .profileIcon {
    font-size: 16px;
    margin-right: 10px;
}


.profileIcon.dark {
    font-size: 16px;
    margin-right: 10px;
    color: #ffffff;
}

.settings-title, .userName-title {
    font-size: 14px;
}

.userName-title.dark {
    font-size: 14px;
    color: #ffffff;
}

.logout-container button {
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background-color: #0575e6;
    color: #ffffff;
}

.logout-btn-container.dark:hover {
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background-color: #212121;
    color: #ebebeb;
    cursor: pointer;
    border: 1px solid #0575e6;
}

.logout-container button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #0575e6;
    border: 1px solid #0575e6;
}

.logout-container {
    margin-right: 0px;
}

.logout-btn-container-nav {
    background-color: transparent;
    color: transparent;
}

.logout-btn-container-nav button {
    background-color: transparent;
    color: transparent;
    border: transparent;
}
/*Responsive*/

@media (max-width: 760px) {
    .header_signin-container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-bottom: 2px solid #B2B2B2;
    }

    .logo_signin-container {
        margin-left: 20px;
    }
    
    .logo_signin-container h1 {
        font-size: 27px;
        color: #283712;
    }

    .headerBar {
        position: absolute;
        right: 0;
        margin-right: 20px;
    }

    .logout-btn-container-nav {
        position: absolute;
        right: 0;
        top: 69px;
        width: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        color: #595959;
    }
    
    .setting-nav, .profile-container-nav {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
    }
    
    .setting-nav:hover, .profile-container-nav:hover {
        cursor: pointer;
        border: 1px solid #0575e6;
    }
    
    .settingsIconNav, .profileIconNav {
        font-size: 16px;
        margin-right: 6px;
    }
    
    .settings-title-nav, .userName-title-nav {
        font-size: 14px;
    }
    
    .logout-container-nav button {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 14px;
        border: none;
        color: #595959;
        background-color: #ffffff;
    }
    
    .logout-container-nav button:hover {
        cursor: pointer;
        background-color: #ffffff;
        color: #0575e6;
        border: 1px solid #0575e6;
    }
    
    .logout-container-nav {
        width: 100%;
        display: flex;
        justify-content: left;
    }
}