* {
    margin: 0;
    padding: 0;
}

.outer-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.loginContainer {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 1317px;
    height: 750px;
    border-radius: 30px;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('../assets/images/Farmlink_imgs/login.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;
    border-radius: 30px 0 0 30px;
}


.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 68%;
    pointer-events: none;
    z-index: 0;
    border-radius: 30px 0 0 30px;
}
.login-spacer{
    width: 160px;
}
.title_slogan-container {
    margin: 10px 0 0 0;
    padding: 0;
    color: #FFFFFF;
    z-index: 1;
}

.FarmLink-title {
    font-size: 60px;
    font-weight: 600;
}

.Farmlink-slogans {
    font-size: 25px;
    font-weight: normal;
}


