.members-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.members-title {
    padding: 35px 0 15px 0px;
}

.members-title h1 {
    font-size: 27px;
    font-weight: 500;
    color: #283712;
}

.members-title-title.dark {
    font-size: 27px;
    font-weight: 500;
    color: #ffffff;
}

.members-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.members-nav-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: end;
    border-bottom: 2px solid #b1b1b1;
    color: #283712;
    margin-bottom: 0px;
}

.members-nav-container.dark {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: end;
    border-bottom: 2px solid #ebebeb;
    color: #283712;
    margin: 0;
}

.recent-container.light, .farmers-container.light, .application-container.light {
    padding-bottom: 7px;
    margin: 0 15px -3px 0;

}


.recent-container.dark, .farmers-container.dark, .application-container.dark {
    padding-bottom: 7px;
    margin: 0 15px -3px 0;

}

.recent-container:hover, .farmers-container:hover, .application-container:hover {
    cursor: pointer;
}

.recent-container2.light, .farmers-container2.light, .application-container2.light {
    cursor: pointer;
    padding-bottom: 7px;
    margin: 0 15px -3px 0;
    color: #0575E6;
    border-bottom: 3px solid #0575E6;
}

.recent-container2.dark, .farmers-container2.dark, .application-container2.dark {
    cursor: pointer;
    padding-bottom: 7px;
    margin: 0 15px -3px 0;
    color: #ebebeb;
    border-bottom: 3px solid #ebebeb;
}


.farmers-container2.dark {
    cursor: pointer;
    padding-bottom: 7px;
    margin: 0 15px -3px 0;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}


.application-container.dark, .recent-container.dark {
    cursor: pointer;
    padding-bottom: 7px;
    margin: 0 15px -3px 0;
    color: #8b8b8b;
}