.members-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.members-title {
    padding: 35px 0 15px 0px;
}

.members-title h1 {
    font-size: 30px;
    font-weight: 500;
    color: #283712;
}

.members-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.members-nav-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: end;
    border-bottom: 2px solid #b1b1b1;
    color: #283712;
    margin: 0;
}

.recent-container, .farmers-container, .application-container {
    padding-bottom: 7px;
    margin: 0 15px -3px 0;

}

.recent-container:hover, .farmers-container:hover, .application-container:hover {
    cursor: pointer;
}

.recent-container2, .farmers-container2, .application-container2 {
    cursor: pointer;
    padding-bottom: 7px;
    margin: 0 15px -3px 0;
    color: #0575E6;
    border-bottom: 3px solid #0575E6;
}

.members-main-container {
    /*padding-left: 50px;*/
}