.orders-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.orders-title {
    padding: 35px 0 15px 0px;
}

.orders-title h1 {
    font-size: 27px;
    font-weight: 500;
    color: #283712;
}

.orders-title.dark h1 {
    font-size: 27px;
    font-weight: 500;
    color: #efefef;
}

.orders-wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.orders-nav-container {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: end;
    border-bottom: 2px solid #b1b1b1;
    color: #283712;
    margin: 0;
}

.orders-nav-container.dark {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: end;
    border-bottom: 2px solid #efefef;
    color: #283712;
    margin: 0;
}


.orders-title-container {
    cursor: pointer;
    padding-bottom: 7px;
    margin: 0 15px -3px 0;
    color: #0575E6;
    border-bottom: 3px solid #0575E6;
}

.orders-title-container.dark {
    cursor: pointer;
    padding-bottom: 7px;
    margin: 0 15px -3px 0;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

.order-form-container{
    width: 100%;
    height: 300px;
    /*border-top: 2px solid #D9D9D9;*/
    overflow-y: auto;
    margin-top: 30px;
}

.produce-form-container {
    width: auto;
    height: 300px;
    /*border-top: 2px solid #D9D9D9;*/
    overflow-y: auto;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
}
.order-selectors {
    display: flex;
    margin-top: 30px;
}

.order-selectors.dark {
    display: flex;
    margin-top: 30px;
    color: #efefef;
}

.orders-s-crop-type-container, .orders-s-plantDate-container, .orders-s-harvestDate-container {
    width: 191px;
    /*border: 1px solid #585858;*/
    position: relative;
    margin-right: 20px;
}

.orders-s-crop-type-btn.dark {
    width: 191px;
    /*border: 1px solid #585858;*/
    position: relative;
    margin-right: 20px;
    background-origin: #212121;
}


.crop-type-dropDown, .plantDate-dropDown {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #b1b1b1;
    margin-top: 5px;
    overflow-y: auto;
    border-radius: 7px;
    z-index: 1;
    padding: 5px 0;
}

.plantDate-dropDown {
    height: 120px;
}
.crop-type-dropDown p {
    margin-bottom: 5px;
    padding: 0 0 0 10px;
}
.crop-type-dropDown p:hover {
    cursor: pointer;
    background-color: #0575E6;
    color: #ffffff;
}
.orders-s-farmer-btn, .orders-s-crop-type-btn, .orders-s-quantity-btn {
    position: relative;
    width: 120px;
    height: 32px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
    color: #585858;
    border: 1px solid #D9D9D9;
    border-radius: 7px;
    padding-left: 10px;
    margin-right: 20px;
}

.orders-s-farmer-btn:hover, .orders-s-crop-type-btn:hover, .orders-s-quantity-btn:hover, .orders-s-plantDate-btn:hover {
    cursor: pointer;
}
.orders-s-farmer-btn {
    width: 240px;
}

.orders-s-crop-type-btn, .orders-s-plantDate-btn {
    width: 180px;
}

.orders-s-quantity-btn {
    width: 100px;
    padding-right: 10px;
}

.orders-s-quantity-btn input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.orders-arrowIcon, .orders-arrowIcon2 {
    position: absolute;
    right: 0;
    margin-right: 4px;
    font-size: 12px;
    transform: rotate(180deg);
}

.orders-arrowIcon2 {
    top: 50%;
    font-size: 14px;
    color: #585858;
    margin-top: 5px;
}

.order-s-farmer-title, .order-s-crops-title, .order-s-quantity-title, .order-s-plantDate-title, .order-s-harvestDate-title {
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: 450;
}

.add-order-container, .add-produce-container {
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 7px;
    margin-top: 10px;
}

.add-orderIcon, .add-produceIcon {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 450;
    color: #585858;
    margin-right: 5px;
}

.add-orderIcon:hover, .add-produceIcon:hover {
    color: #ffffff;
}
.add-order-container p, .add-produceIcon p {
    font-size: 14px;
    font-weight: 450;
    color: #585858;
}

.add-order-container:hover {
    cursor: pointer;
    background-color: #0575E6;
    color: #ffffff;
}

.add-produce-container:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #0575E6;
}
.order-form-container {
    width: auto;
}

.produce-title-container {
    width: 100%;
    height: auto;
    display: flex;
    color: #b1b1b1;
    margin-bottom: 8px;
}

.produce-title-container p {
    font-size: 16px;
}

.produce-title-produce {
    width: 780px;
}

.product-title-produce-container {
    width: auto;
    display: flex;
    justify-content: end;
}

.crop-type-sel {
    width: 110%;
    height: 100%;
    margin-left: -10px;
    color: #585858;
    border: transparent;
    border-radius: 6px;
    text-decoration: none;
}

/* Responsive*/

@media (max-width: 1120px) {
    .orders-container {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    .orders-wrapper {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        
    }

    .orders-nav-container {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: left;
        align-items: end;
        border-bottom: 2px solid #b1b1b1;
        color: #283712;
        margin-bottom: -15px;
    }

    .order-selectors {
        overflow-y: auto;
        overflow-x: none;
        -webkit-overflow-scrolling: touch;
    }
    .order-selectors::-webkit-scrollbar {
        width: 0;
    }

    .orders-title {
        padding: 35px 0 15px 0px;
    }
    
    .orders-title h1 {
        font-size: 20px;
        font-weight: 500;
        color: #283712;
    }
    
    .orders-wrapper {
        width: auto;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
    }

    .order-selectors {
        display: flex;
        flex-direction: column;
    }

    .orders-s-farmer-btn, .orders-s-crop-type-btn, .orders-s-quantity-btn, .orders-s-crop-type-btn {
        position: relative;
        width: 180px;
        height: 30px;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        font-size: 14px;
        color: #585858;
        border: 1px solid #D9D9D9;
        border-radius: 7px;
        padding-left: 10px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .orders-s-plantDate-btn {
        margin-bottom: 10px;
    }

    .plot-size {
        margin-top: 10px;
    }
    .order-s-farmer-title, .order-s-crops-title, .order-s-quantity-title, .order-s-plantDate-title, .order-s-harvestDate-title {
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 450;
    }

    .add-order-container, .add-produce-container {
        /*margin-top: -15px;*/
    }
    .produce-form-container {
        margin-top: 5px;
    }
    
    .produce-form-container::-webkit-scrollbar {
        width: 0;
    }
}

@media (max-width: 375px) {
    .orders-container {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        max-width: 375px;
        margin: 0 auto;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    .orders-wrapper {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        
    }

    .orders-nav-container {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: left;
        align-items: end;
        border-bottom: 2px solid #b1b1b1;
        color: #283712;
        margin-bottom: -15px;
    }

    .order-selectors {
        overflow-y: auto;
        overflow-x: none;
        -webkit-overflow-scrolling: touch;
    }
    .order-selectors::-webkit-scrollbar {
        width: 0;
    }

    .orders-title {
        padding: 35px 0 15px 0px;
    }
    
    .orders-title h1 {
        font-size: 20px;
        font-weight: 500;
        color: #283712;
    }
    
    .orders-wrapper {
        width: auto;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
    }

    .order-selectors {
        display: flex;
        flex-direction: column;
    }

    .orders-s-farmer-btn, .orders-s-crop-type-btn, .orders-s-quantity-btn, .orders-s-crop-type-btn {
        position: relative;
        width: 180px;
        height: 30px;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        font-size: 14px;
        color: #585858;
        border: 1px solid #D9D9D9;
        border-radius: 7px;
        padding-left: 10px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .orders-s-plantDate-btn {
        margin-bottom: 10px;
    }

    .plot-size {
        margin-top: 10px;
    }
    .order-s-farmer-title, .order-s-crops-title, .order-s-quantity-title, .order-s-plantDate-title, .order-s-harvestDate-title {
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 450;
    }

    .add-order-container, .add-produce-container {
        margin-top: -15px;
    }
    .produce-form-container {
        margin-top: 5px;
    }
    
    .produce-form-container::-webkit-scrollbar {
        width: 0;
    }
}
