* {
    margin: 0;
    padding: 0;
}

.outer-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.registerContainer {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 1317px;
    height: 700px;
    border-radius: 30px;
}

/* Image Section */

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('../assets/images/Farmlink_imgs/login.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;
    border-radius: 30px 0 0 30px;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 40%;
    pointer-events: none;
    z-index: 0;
    border-radius: 30px 0 0 30px;
}
.registration-spacer{
    width: 160px;
}

/* Title_slogan */

.title_slogan-container {
    margin: 10px 0 0 0;
    padding: 0;
    color: #FFFFFF;
    z-index: 1;
}

.FarmLink-title {
    font-size: 60px;
    font-weight: 600;
}

.Farmlink-slogans {
    font-size: 25px;
    font-weight: normal;
}

.back-btn {
    width: 123px;
    height: 34px;
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
    background-color: #0575e6;
    margin-top: 40px;
}

.back-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 4px #0575e6;
    transition: box-shadow 0.6s ease;
}

/* Input section */

.input-container {
    display: flex;
    justify-content: row;
    color: #363636;
    width: 40%;
    height: 100%;
}

.input-spacer {
    width: 105px;
    height: 100%;
}

.input-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Title Section */

.title h1 {
    font-size: 32px;
    color: #363636;
}

.title p {
    font-size: 20px;
    margin-top: 18px;
}

/* Input Fields */

.name-container input, .email-container-r input, .address-container input, .crop-type-container input, .farm-size-container input, .production-container input {
    width: 280px;
    height: 53px;
    color: #aeaeae;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    margin: 0;
    padding-left: 39px;
    transition: box-shadow 0.6s ease;
}

.email-container-r input:focus, .address-container input:focus, .name-container input:focus, .crop-type-container input:focus, .farm-size-container input:focus, .production-container input:focus {
    outline: none;
    box-shadow: 0 0 8px 4px #0575e6;
}

.email-container-r {
    margin-top: 40px;
}

.name-container {
    margin-top: 34px;
    margin-bottom: -21px;
}

.email-container-r input {
    margin-top: 0px;
}

.address-container input, .crop-type-container input, .farm-size-container input, .production-container input, .registration-btn {
    margin-top: 15px;
}

/* Register Btn */

.submit-btn-container {
    width: 321px;
    height: 53px;
}

.registration-btn {
    width: 100%;
    height: 100%;
    background-color: #0575e6;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 30px;
}

.registration-btn:hover {
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 8px 4px #0575e6;
    transition: box-shadow 0.6s ease;
}

/* Links */

.registration-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 0 39px;
}

.login-link {
    font-size: 14px;
    text-decoration: none;
    color: #676767;
    cursor: default;
}

.clickable-login {
    color: #0575e6;
}

.clickable-login:hover {
    cursor: pointer;
}
