.schedule-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.planner-container {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: 40px 0px 0 0;
    border: 3px solid #D9D9D9;
    border-radius: 20px;
}

.map-container {
    width: 780px;
    height: 600px;
    margin: 40px 0 0 40px;
    border: 3px solid #D9D9D9;
    border-radius: 20px;
}

.planner-title-container {
    margin: 30px 0 20px 25px;
}

.planner-title {
    font-size: 30px;
    color: #363636;
}

.pickup {
    width: 260px;
    height: 50px;
    font-size: 14px;
    margin: 0 0 0 25px;
    padding: 0 20px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}

.second-pickup {
    margin: 15px 0 15px 25px;
}

.second-pickup-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addIcon {
    position: absolute;
    right: 0;
    font-size: 18px;
    margin-right: 40px;
}

.addIcon:hover {
    cursor: pointer;
}

.pickup-time-container {
    position: relative;
    width: 280px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
    margin: 0 0 15px 25px;
    padding-left: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}

.pickup-time-container:hover {
    cursor: pointer;
}

.truckIcon {
    font-size: 18px;
    margin-right: 10px;
}
.pickup-arrowIcon {
    position: absolute;
    right: 0;
    font-size: 18px;
    margin-right: 20px;
}

.assign-person-container {
    position: relative;
    width: 80px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 25px;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
}

.assign-person-container:hover {
    cursor: pointer;
}

.assign-person {
    font-size: 15px;
    margin-left: 20px;
}

.assign-arrowIcon {
    position: absolute;
    right: 0;
    margin-right: 20px;
}