.sidebar-container {
    width: 20%;
    height: 98%;
    background-color: #ECF2F4;
    border-top: 2px solid #B2B2B2;
}

.item-container, .item-container2 {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.item-title {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
}

.item-container {
    background-color: #ECF2F4;
}

.item-container2 {
    background-color: #F6FDFF;
}

.item-container:hover, .item-container2:hover {
    cursor: pointer;
    background-color: #F6FDFF;
}

.m1, .m2, .m3 {
    padding-left: 85px;
    background-color: #F6FDFF;
}

.m3 {
    padding-left: 87px;
}

.icon {
    font-size: 20px;
    color: #283712;
    margin-right: 20px;
}

.item-title {
    font-size: 20px;
}

.schedule {
    margin-left: 8px;
}
.drop-down-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 40px;
}

.dropDownIcon {
    font-size: 20px;
}

.dropDownIcon2 {
    font-size: 20px;
    transform: rotate(180deg);
}

