.sidebar-container {
    position: relative;
    width: 20%;
    min-width: 10%;
    height: auto;
    /*background-color: #ECF2F4;*/
    background-color: #0575e6;
    color: #ffffff;
    border-top: 2px solid #B2B2B2;
    margin-bottom: 0;
    padding-bottom: 0;
}

.sidebar-container.light {
    background-color: #0575e6;
    color: #ffffff;
}
.sidebar-container.dark {
    background-color: #171717;
    border-color: #757575;
    border-top: 2px solid #ebebeb;
    /*#757575*/
}

.item-container, .item-container2 {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.item-title {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
}

.item-container, .item-container.light {
    /*background-color: #ECF2F4;*/
    background-color: #0575e6;
}

.item-container.dark, .item-container2.dark {
    background-color: #171717;
    border-color: #757575;
}

.item-container2 {
    /*background-color: #F6FDFF;*/
    background-color: #0575e6;
}

.item-container:hover, .item-container2:hover, .item-container.light:hover, .item-container2.light:hover {
    cursor: pointer;
    /*background-color: #F6FDFF;*/
    background-color: #0068d0;
}

.sidebar-settings-wrapper {
    width: auto;
    height: 84.6%;
    display: flex;
    align-items: end;
}

.item-container-settings {
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
}

.item-container.dark:hover, .item-container2.dark:hover {
    cursor: pointer;
    background-color: #757575;
}

.m1, .m2, .m3 {
    padding-left: 85px;
    /*background-color: #F6FDFF;*/
    background-color: #0575e6;
}

.m3 {
    padding-left: 87px;
}

.icon {
    font-size: 18px;
    /*color: #283712;*/
    color: #ffffff;
    margin-right: 12px;
}

.item-title {
    font-size: 18px;
}

.schedule {
    margin-left: 7px;
} 

.profile{
    margin-left: 3px;
}

.produce {
    margin-left: 0px;
}

.drop-down-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 40px;
}

.dropDownIcon {
    font-size: 18px;
}

.dropDownIcon2 {
    font-size: 20px;
    transform: rotate(180deg);
}

/*responsive*/

@media (max-width: 1181px) {
    .item-container, .item-container2 {
        width: auto;
        height: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 10px;
    }

    .icon {
        font-size: 12px;
    }

    .item-title {
        font-size: 12px;
        margin: 0px 0 0 -10px;
    }

    .sidebarF {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .item-container:hover, .item-container2:hover {
        cursor: pointer;
        /*background-color: #F6FDFF;*/
        background-color: #0068d0;
    }
}

@media (max-width: 780px) {
    .item-title {
        color: transparent;
    }
}